{% extends "myapp/base.html" %}

{% block content %}
<div class="container fade-in">
  <div class="card auth-container" style="max-width: 600px;">
    <h2 class="section-title text-center">Add Anime</h2>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" required>
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea name="description" rows="5" required></textarea>
      </div>

      <div class="form-group">
        <label>Select Genres</label><br>
        <select name="genres" multiple size="5">
        {% for g in genres %}
            <option value="{{ g.slug }}">{{ g.name }}</option>
        {% endfor %}
        </select><br><br>
      </div>

      <div class="form-group">
        <label>Add new genre (optional)</label><br>
        <input type="text" name="new_genre"><br><br>
      </div>

      <div class="form-group">
        <label>Landscape Thumbnail</label><br>
        <input type="file" name="landscape_image" accept=".jpg,.jpeg,.png" required><br><br>

        <label>Portrait Thumbnail</label><br>
        <input type="file" name="portrait_image" accept=".jpg,.jpeg,.png" required><br><br>
      </div>

      <button type="submit" class="btn-block">Add Anime</button>
    </form>
  </div>
</div>
{% endblock %}